footer{
  background-color: $color-bg-light;

  height: 75px;
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;


  p{
    margin: 0 0 0 20px;
  }

  .retour {
    position: fixed;
    bottom: 15px;
    right: 10px;

    margin: 0 20px 0 0;

    height: 40px;
    width: 40px;

    background-color: $color-bg-dark;
    border: solid $color-text-normal 4px;
    border-radius: 50%;

    opacity: 0.8;
    cursor: pointer;
    outline: none;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
    text-decoration: none;

  }
  .retour:hover{
  background-color: $color-link;
  }

  .retour i.material-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-link;
    padding-top: 3px;
  }

  .retour i.material-icons:hover  {
    color: $color-bg-dark;
  }


}