.formulaire-article {
  width: $max-width;
  margin: 0 auto;

  label {
    margin: 30px 0 30px 0;
  }

  input {
    margin: 30px 0 50px 0;
  }

  textarea {
    margin: 30px 0 40px 0;
  }

  button {
    margin: 30px 0 30px 0;
  }

  h1 {
    margin-bottom: 50px;
  }

  form button {
    width: 200px;
    margin: 0;
  }


}

  input#titre {
  width: 400px;
}

.conteneur-bouton{
  display: flex;
  justify-content: center;
  align-items: center;
}

