.formulaire-inscription{
  width: $max-width;

  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;

  li{
    margin: 20px;
    display: flex;
  }

  label{
    margin: 0 20px 0 0;
  }

  ol{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    width: 600px;

  }

  .conteneur-bouton{
    display: flex;
    justify-content: center;
    align-items: center;
  }


  form button{
    width: 300px;
  }




}



.login-conteneur {
  display: flex;
  flex-direction: column;

  h1{
    text-align: center;
  }

}

input#prenom{
  width: 400px;
}

input#nom{
  width: 400px;
}

input#password{
  width: 400px;
}
input#verif-password{
  width: 400px;
}


