section.login-container{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;


  background: rgba(50, 50, 225, 0.4);
}

 .formulaire-connexion {
  background: $color-bg-light;
  border: 1px solid $white;
  border-radius: 5px;
  width: 500px;
  height: 400px;
  margin: auto;
  padding: 20px;
   h2{
     cursor: default;
   }
}

 button#supprime-class{
   margin-left: 285px;
   font-weight: bold;
   color: $color-bg-dark;
   background-color: $color-link;
   cursor: pointer;
   border-radius: 5px;
   border: none;
   padding: 4px;
 }
 button#supprime-class:hover,
 button#supprime-class:focus{
   background-color: $color-text-normal;
 }

section.login-container form{
  display: flex;
  flex-direction: column;
}

form input[type="password"],
form input[type="text"],
form button[type="submit"] {

  width: 100%;

  margin-bottom: 32px;
  padding: 6px;

  color: #333;

  border: 1px solid #ccc;
  border-radius: 5px;
  outline: 0;
}

form input[type="text"]:focus,
form input[type="text"]:hover,
form input[type="password"]:focus,
form input[type="password"]:hover {
  background-color: $color-bg-light;
}

form button[type="submit"]{
  font-weight: bold;
  color: $color-bg-dark;
  text-transform: uppercase;

  background-color: $color-link;
  cursor: pointer;
}


form button[type="submit"]:focus,
form button[type="submit"]:hover{
  background-color: $color-text-normal;
}


.modale{
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  z-index: 100;

  background-color: rgba(0,0,0,0.7);

  display: flex;
  justify-content: center;
  align-items: center;
}



@media screen and (min-width: $vw-medium){

  .formulaire-inscription{
    width: 400px;
    margin: 0 auto;
    ol{
      li{
        flex-direction: row;
        label{
          min-width: 250px;
        }
      }
    }
  }

}
