.hero{
  background: url("../images/heroSmartWatch@1x.jpg") no-repeat center;

  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.hero h1{
  margin: 0;
  color: $color-title-light;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.9);
  cursor: default;
}

.hero-article{
  background: url("../images/watch2hero@1x.jpg") no-repeat center;

  height: 450px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

@media screen and (max-width: $vw-medium){

}
