.profil-conteneur{
  width: $max-width;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.placeHolder{
  width: 130px;
}

.info-profil{
  margin: 40px;
}

.modifProfil{
  margin: 90px;
}

.info-profil{
  display: flex;
  flex-direction: column;

  .prenom{
    display: flex;
    justify-content: center;

    p{
      margin-right: 5px;
    }
  }

  .nom{
    display: flex;
    justify-content: center;

    p{
      margin-right: 5px;
    }
  }

  .adresseMail{
    display: flex;
    justify-content: center;

    p{
      margin-right: 5px;
    }
  }

}

.profil-conteneur h1{
  margin: 0 0 50px 0;

}

.avatar-nom > img{
  border-radius: 50%;
}





.btn-effet {
  border: none;
  background-color: $color-bg-dark;
  color: $color-bg-light;
  cursor: pointer;
  padding: 0 30px;
  display: inline-block;
  margin: 15px;
  text-transform: uppercase;
  line-height: 46px;
  font-weight: 400;
  font-size: rem(16);
  outline: none;
  position: relative;
  overflow: hidden;
  border-radius: 23px;
  letter-spacing: 2px;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.btn-effet:before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: inherit;
  background-color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
.btn-effet:hover,
.snip1479.hover {
  background-color: $color-bg-dark;
  color: $color-bg-light;
}
.btn-effet:hover:before,
.btn-effet.hover:before {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 0.25;
}

.avatar-nom{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}