/*  index   */
.liste-articles{
  margin: 0 auto;
  max-width: $max-width;
}

.img{
  display: block;
}

.article-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto minmax(1000px, 1920px) auto;
  grid-column-gap: 30px;
}

.grid-center{
  grid-column: 2/3;
}

article{
  position: relative;
  p.texte-article{
    margin: 0 0 70px 0;
    width: 500px;
    cursor: default;

  }
  main{
    margin-left: 10px;
  }
}

.image-animation {
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 400px;
  max-width: 500px;
  width: 100%;
  background: $color-bg-dark;
  background: -moz-linear-gradient(90deg, $color-bg-dark 0%, $color-link 100%, $color-link 100%);
  background: -webkit-linear-gradient(90deg, $color-bg-dark 0%, $color-link 100%, $color-link 100%);
  background: linear-gradient(90deg, $color-bg-dark 0%, $color-link 100%, $color-link 100%);
}

.image-animation img,
.image-animation:before,
.image-animation:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.image-animation img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}

.image-animation:before,
.image-animation:after {
  content: '';
  background-color: #fff;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.image-animation:before {
  width: 60px;
  height: 1px;
  left: 100%;
}

.image-animation:after {
  height: 60px;
  width: 1px;
  top: 0%;
}

.image-animation a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.image-animation:hover img,
.image-animation.hover img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  opacity: 0.5;
}

.image-animation:hover:before,
.image-animation.hover:before,
.image-animation:hover:after,
.image-animation.hover:after {
  opacity: 1;
  top: 50%;
  left: 50%;
}





.btn-plus{
  a{
    color: $color-text-normal;
  }

  display: flex;

  position: absolute;
  bottom: 5px;
  right: 20px;

  background-color: $white;
  border: none;
  border-bottom: 6px solid $color-link;
  border-top: 6px solid $color-link;
  cursor: pointer;
  font-weight: 500;
  height: 46px;
  letter-spacing: 3px;
  line-height: 34px;
  margin: 50px 15px 0 15px;
  outline: none;
  padding: 0 10px;

  i{
    padding-top: 4px;
  }
}

.btn-plus:before,
.btn-plus:after {
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: $white;
  border-radius: 50%;
  top: -6px;
  content: "";
  height: 46px;
  position: absolute;
  width: 46px;
  border: 6px solid #ddd;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: -1;
}

.btn-plus:before {
  right: -23px;
  border-left-color: $color-link;
  border-bottom-color: $color-link;
}

.btn-plus:after {
  left: -23px;
  border-right-color: $color-link;
  border-top-color: $color-link;
}

.btn-plus:hover,
.btn-plus.hover {
  background-color: $white;
}

.btn-plus:hover:before,
.btn-plus.hover:before,
.btn-plus:hover:after,
.btn-plus.hover:after {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

/* article */

.article{
  margin: 0 auto;
  max-width: $max-width;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;

  h2{
    margin: 10px 10px 20px 10px;
  }
  p{
    margin: 20px 10px 10px 10px ;
    font-size: rem(18);
  }
}

aside{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.fiche{
  padding: 10px;
  margin: 5px;
  background-color: $color-bg-light;

  h3{
    margin: 10px;
  }
}
.fiche p:nth-child(3){
  border-top: 2px solid black;
  padding-top: 10px;

}


